{% extends "freelance_app/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title">Name: {{ object.project_name}}</h2>
      <p class="article-content">Description: {{ object.description }}</p>
      <p class="article-content">Posted On: {{ object.postedOn }}</p>
      <p class="article-content">Complete?: {{ object.completed }}</p>
      <p class="article-content">Tasks: {{ object.tasks }}</p>
      {% if object.Owner == user %}
      <div>
        <a class="btn btn-secondary" href="{% url 'project-update' object.id %}">Update</a>
        <a class="btn btn-danger" href="{% url 'project-delete' object.id %}">Delete</a>
      </div>
    {% endif %}
    </div>
  </article>
{% endblock content %}